section {
    width: min(90vw, 1120px);
    margin: auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
}

.section_first-card {
    // width: 643px;
    height: 482px;

}

.variables {
    display: flex;
    gap: 70px;
}

.section_first-card_titles {
    // width: 643px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    opacity: 0px;

    h3 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-align: left;

    }
}

.tray_table {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 50px;
}

.tray_table_card1 {
    // width: 316px;
    height: 96px;
    gap: 16px;
    display: flex;
    list-style: none;

    ul {
        list-style: none;
    }

    h3 {
        padding-top: 20px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;

    }

    li {
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        color: #6C7275;

        img {
            align-items: center;
        }

        p {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #6C7275;
        }
    }
}

.remove {
    display: flex;

}

.tray_table_card2 {
    // width: 328px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;

    button {
        width: 80px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #6C7275;
        padding: 8px, 12px, 8px;
    }

    p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: right;

    }

    h3 {
        //styleName: Text/18px/Semibold;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        text-align: right;

    }
}

.tray_table2 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 50px;
}

.tray_table_card1 {
    width: 316px;
    height: 96px;
    gap: 16px;
    display: flex;
    list-style: none;

    ul {
        list-style: none;
    }

    h3 {
        padding-top: 20px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;

    }

    li {
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        color: #6C7275;

        img {
            align-items: center;
        }

        p {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #6C7275;
        }
    }
}

.remove {
    display: flex;

}

.tray_table_card2 {
    // width: 328px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;

    button {
        width: 80px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #6C7275;
        padding: 8px, 12px, 8px;
    }

    p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: right;

    }

    h3 {
        //styleName: Text/18px/Semibold;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        text-align: right;

    }
}


.tray_table3 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 50px;
}

.tray_table_card1 {
    // width: 316px;
    height: 96px;
    gap: 16px;
    display: flex;
    list-style: none;

    ul {
        list-style: none;
    }

    h3 {
        padding-top: 20px;
        font-family: "Inter", Sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;

    }

    li {
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        color: #6C7275;

        img {
            align-items: center;
        }

        p {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #6C7275;
        }
    }
}

.remove {
    display: flex;
    cursor: pointer;
}

.remove:active {
    color: black;
}

.tray_table_card2 {
    // width: 328px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;

    button {
        width: 80px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #6C7275;
        padding: 8px, 12px, 8px;
    }

    button:active {
        color: white;
        background-color: black;
    }

    p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: right;

    }

    h3 {
        //styleName: Text/18px/Semibold;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        text-align: right;

    }
}

.section_second-card {
    border: 1px solid #121212;
    padding: 1em;
    max-width: 420px;
    border-radius: 6px;
    p {
        font-size: 1.6rem;
        font-weight: 400
        ;
    }
    h2 {
        font-size: 2rem;
        font-weight: 500;
        color: #121212;
        line-height: 28px;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 400;
        font-family: "Inter", Sans-serif;
        margin-right: 100px;
    }
    div {
        display: flex;
        justify-content: space-between;
        padding: 13px 16px;
        border: 1px solid #121212;
        margin-bottom: 12px;
        border-radius: 4px;
        input {
            margin-right: 6px;
            border-radius: 50%;width: 18px;height: 18px;
            
        }
    }
    .subtotal, .total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    button {
        width: 100%;
        height: 52px;
        padding-block: 10px;
        text-align: center;
        color: #fff;
        background-color: #121212;
        border-radius: 10px;
    }
}


@media screen and (max-width:1020px) {
    section {
        flex-direction: column;
        align-items: center;
        margin-inline: auto;
    }
}

@media screen and (max-width:950px) {
    .cart {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

footer {
    background-color: #141718;
    height: 100%;
    padding: 60px 100px 32px 100px;
    ul {
      display: flex;
      gap: 40px;
    }
    @media screen and (max-width:1060px) {
      ul {
        flex-direction: column;
        gap: 32px;
      }
      footer {
        flex-direction: column;
        height: 665px;
        padding: 48px 32px 48px 25px;
      }
      .title2 > img {
        height: 24px;
        width: 74px;
      }
      .title2 {
        text-align: center;
        flex-direction: column;
      }
      .title3 {
        flex-direction: column;
        img {
          width: 20px;
          height: 20px;
          margin: auto;
        }
      }
    }
    .title2 {
        display: flex;
        margin-bottom: 69px;
        img {
          height: 24px;
          width: 74px;
          margin-inline: auto;
        }
        span {
          width: 1px;
          height: 24px;
          border: 1px solid #6c7275;
          margin-right: 32px;
          margin-inline: auto;
        }
      }
      .title3 {
        padding-block: 16px 20px;
        display: flex;
        gap: 28px;
        border-top: 1px solid #6c7275;
        width: initial;
        .a {
          margin-inline: auto;
          color: #fff;
        }
        div {
          margin: auto;
          display: flex;
          column-gap: 24px;
          img {
            width: 24px;
            height: 24px;
            cursor: pointer;

          }
        }
      }
  }